@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, #10002b,#7b2cbf);
}
.container{
    position: relative;
    padding: 1rem;
    width: 100%;
    
}
.pop{
    animation-name: pop-anime;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: .5s;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    height: 300px;
    width: 90%;
    background-color: #c77dff;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
}
.btn{
    transition: .5s all ease-in-out;
    background-color: #d90429;
    color: #fff;
    border: none;
    padding: .4rem 2rem;
    border-radius: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
.btn:focus{
    outline: none;
    
}
.btn:hover{
    background-color: #fff;
    color: #240046;
}
.box{
    text-align: center;
}
.kn-01{
    color: #3c096c;
    text-shadow: 1px 1px 1px rgba(243, 238, 238, 0.541);
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: 'Readex Pro', sans-serif;
}
.heading{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.63);
    color: #f8f9fa;
    padding: 1rem;
    display: inline-block;
    font-size: 2.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    animation-name: heading-anime;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes heading-anime {
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes pop-anime {
    0%{
        transform: scale(.4);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.class-visible{
    opacity: 1 !important;
    visibility: visible !important;
}
.p-1{
    font-family: 'Readex Pro', sans-serif;
    direction: rtl;
    font-size: 1.9rem;
    color: #fff;
    margin-top: 4rem;
    display: none;
}
